@import "app/variables";

//== Normalize
//-----------------------------------------------------------------------------

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  background-color: #f5f5f5;

  html.wf-roboto-n4-active.wf-active > & {
    font-family:
      ProximaNova,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }
}

perfy-root {
  flex: 1;
}

//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------
//== Global styles
//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------
/*
@import 'app/_variables';
@import 'app/helpers';


//== Normalize
//-----------------------------------------------------------------------------

html {
  @extend .h100;
}

html {
  overflow-y: scroll;
  font-family:
    ProximaNova,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    sans-serif;

  font-size: 15px;
  font-weight: normal;
  background: #fff;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

html.wf-roboto-n4-active.wf-active {
  font-family:
    ProximaNova,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

body {
  @extend .h100;
  margin: 0;
}
*/
